<!DOCTYPE html>
<html lang="pt-br">
<!-- Include Head -->
<%- include('partials/head', { title: produto.name }) %>
<body>
	<!-- Header -->
	<!--<%- include('partials/headerNavbar') %>-->
	<!-- /Header -->

	<!-- produto detail -->
	<div class="container produtos-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="produtos-title">Detalhe do produto: <%= produto.name %></h2>
			</div>
		</div>
		<div class="produto-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/images/produtos/<%= produto.image %> " alt="produto image" class="produto-detalhe-img">
					<p class="produto-detalhe-descrisao">
						<%= produto.descrisao %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="produto-detail-info">
						<h2 class="produto-detail-title"><%= produto.name %></h2>
						
							<p class="produto-detail-valor small">
								<span>$<%= paraMil(produto.valor) %></span>
								/
								<b><%= produto.desconto %>% OFF</b>
							</p>
							<p class="produto-detalhe-valor">
								$<%=paraMil(produto.valor - (produto.desconto / 100 * produto.valor)) %> 
							</p>

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagar em 12 parcelas sem juros</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retirada gratuita nas instalações do vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AGORA</a>
						<hr>

						<a href="/produtos/edit/<%= produto.id %>" class="action-button edit">EDITAR PRODUTO</a>
						<form action="/produtos/delete/<%= produto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">APAGAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /produto detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>